body { 
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400; 
    color: #888; 
    line-height: 30px; 
    text-align: center;
    position: relative;
}

strong { 
    font-weight: 600; 
}

a { 
    color: #1482FF;
    text-decoration: none; 
    transition: all .3s;
}
a:hover, a:focus {
    color: #1482FF;
    border: 0; 
    text-decoration: none; 
}

h1, h2 { 
    margin-top: 10px;
    font-size: 38px;
    font-weight: 300;
    color: #555; 
    line-height: 50px; 
    font-style: italic; 
}
h3 { 
    font-size: 22px; 
    font-weight: 300; 
    color: #555;
    line-height: 30px;
    font-style: italic;
    padding: 20px;
    background: lightgrey;
    border: 2px solid;
    border-color: #000;
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}
h5 {
    font-size: 14px; 
    font-weight: 300; 
    color: #555;
    line-height: 20px;
    font-style: italic;
    padding: 20px;
    background: lightgray;
    border: 2px solid;
    border-color: #000;
    border-radius: 50%;
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}

img { 
    max-width: 100%; 
}

.medium-paragraph { 
    font-size: 17px;
    line-height: 32px; 
}

::-moz-selection { 
    background: #007bff;
    color: #fff; 
    text-shadow: none;
}
::selection {
    background: #007bff;
    color: #fff; 
    text-shadow: none;
}


/***** Divider *****/

.divider-1 span { 
    display: inline-block; 
    width: 200px; 
    border-bottom: 3px solid #aaa;
}


/***** Navbar *****/

.navbar { 
    transition: all .6s;
    backface-visibility: hidden;
    background: #343a40;
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    border-bottom: solid 2px;
    border-color: black;
}
/*nav.black {
    background: #343a40; //bg-dark 
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    //border-top: solid 2px;
    border-bottom: solid 2px;
    border-color: black;
}*/

.navbar-dark .navbar-nav { 
    font-size: 15px;
    color: #000;
    text-transform: uppercase; 
}
.navbar-dark .navbar-nav .nav-link { 
    color: #fff; 
    border: 0;
    font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link:hover { 
    color: #007bff;
    font-weight: bolder;
}
.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff; 
    outline: 0; 
}

.navbar-expand-md .navbar-nav .nav-link { 
    padding-right: 1rem; 
    padding-left: 1rem; 
}

.navbar-brand {
    width: 200px;
    height: 50px;
    background: url(../img/logo-light.png) left center no-repeat;
    background-size: 100px 50px;
    border: 0;
    text-indent: -99999px; //moves text off screen
}


/**** Main-Content ****/

.main-content .container {
    text-align: center;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
}

.d-flex {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    margin: 5px;
}


/***** Modals *****/

label {
    margin-right: 100%;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    overflow-x: hidden;
}

footer {
    //position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}